<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                    <h2>Mikes Sports Store</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae semper leo. Phasellus ac lectus arcu.</p>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                    <h2>Links</h2>
                   <ul>
                       <li><a href="#">About</a></li>
                       <li><a href="#">Contact Us</a></li>
                       <li><a href="#">Products</a></li>
                       <li><a href="#">Cart</a></li>
                   </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
                    <h2>Follow Us:</h2>
                    <a href="https://www.facebook.com/"><i id="icon" class="fab fa-facebook fa-lg" data-fa-transform="down-6 right-8"></i></a>
                    <a href="https://www.twitter.com/"><i id="icon" class="fab fa-twitter fa-lg" data-fa-transform="down-6 right-8"></i></a>
                    <a href="https://www.pinterest.com/"><i id="icon" class="fab fa-pinterest fa-lg" data-fa-transform="down-6 right-8"></i></a>
                    <a href="https://www.linkedin.com/"><i id="icon" class="fab fa-linkedin fa-lg" data-fa-transform="down-6 right-8"></i></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
                    <h3>Sign up for Limited Time Offers</h3>
                    <form action="">
                        <p><input type="email"><input class="mt-2 ml-1 " type="submit" value="Subscribe"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
