

<div id="border-peach" class="container border shadow bg-white rounded">
    <div class="row">
        <div class="col-sm-8 border">
            <div class="row">
                <div class="col-sm m-3">
                    <h3>Shopping Cart :</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm p-2 m-3">
                    <div *ngIf="cartItems === null || cartItems.length === 0">
                        <h4 id="cartempty" class="text-center">Your cart is empty <i class="far fa-sad-tear"></i></h4>
                    </div>
                    <div *ngIf="cartItems !== null">
                        <div *ngFor="let item of cartItems">
                            <app-cart-item [cartItem]="item"></app-cart-item>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-sm-4 border">
            <div class="row">
                <div class="col-sm-12 p-4 m-2">
                    <h3>Total Price: {{ cartTotal  | currency:'USD' }} </h3>
                </div>
                <div class="col-sm text-center pb-2">
                    <button type="button" class="btn btn-outline-success">
                        <span>Checkout</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
